/*navbar*/


/*left nav bar*/
.leftnav{
    margin-left: -25px !important;
    margin-bottom: -5px;
    font-size: 14px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-item{
    padding: 0px 2px 0px 2px !important;
}

.leftnav a{
    font-size: 13px !important;
    color: #262626;
    text-decoration: none;
}


.leftnav a:hover{
    text-decoration: underline;
    color:#262626;

}

.microsoft{
    width: 100px;
    margin-top: -2px;
}

.dropdowntext{
    background-color: none;
    font-size: 10px;
    color: #262626;
}

.disable{
    margin-top: -2px;
    color:#262626;
}

.leftnav a:hover {
    text-decoration: underline 2px;
  }
  
.leftnav a:active {
    text-decoration: underline 2px;
  }

.leftnav a:hover {
    text-decoration: underline 2px;
    color: black;
}

.dropdown-toggle{
    border-radius: 0px !important;
    border-style: dotted !important;
    border: 1px !important;
}

/*rigth nav bar */

.rightnav{
    padding-left: 50px;
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rightnav a{
    font-size: 13px !important;
    color: #262626;
    text-decoration: none;
}

.rightnav a:hover{
    text-decoration: underline;
    color:#262626;

}

.rightnav a:hover {
    text-decoration: underline 2px;
  }
  
.rightnav a:active {
    text-decoration: underline 2px;
  }

.rightnav a:hover {
    text-decoration: underline 2px;
    color: black;
}

#AllMic{
    margin-top: 2px;
}

/*carousel control*/

.carousel-control-prev, .carousel-control-next{
    position: absolute !important;
    border-radius: 50px !important;
    background-color: #262626 !important;
    top: 50% !important;
    width: 40px !important;
    height: 40px !important;
} 


/*carousel caption*/

#form {
    padding-top: 30px;
  }
  input[type='select']{
    width: 20px;
    height: 100px;
    padding: 12px 20px;
  }
  input[type='text']:focus,
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 3px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f1f1f1;
  }
  input[type='text'],
  text {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f1f1f1;
  }
  input[type='password'] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f1f1f1;
  }
  textarea {
    width: 300px;
    height: 200px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }
/*.svg-container a:hover{
    text-decoration: ;
}*/

.svg-container p{
    text-align: center;
}

.svg-container img{
    width: 80px;
    max-width: 100%;
}

.svg-container{
padding: 15px 0px 0px;
}

.svg-position{
    margin: 0px 300px 0px 300px;
}


.icons a:focus {
    outline: 2px dashed;
}

.icons a p {
    color: #107c10;
    border-bottom: 3px solid transparent;
    transition: border-color .2s ease-in-out;
    -webkit-transition: border-color .2s ease-in-out;
    -moz-transition: border-color .2s ease-in-out;
}

.icons a:hover p {
    border-bottom: 3px solid #107c10;
}


/*foto" di bawah*/

.card-body{
    height: 100% !important;
    width: 100% !important;
    background-color: #107c10 !important;
}

.body-card1{
    background-color: white !important;
}

.col {
    padding: 0px 0px !important;
}

.card-img-overlay{
    padding-bottom: 65.52px !important;
    padding-left: 10%;
    margin-top: 75% !important;
    margin-right: 10% !important;
}

.card-img-overlay a{
    text-decoration: none;
    color: white;

}

.card-img-overlay h2{
    padding: 3px 0px !important;
    font-weight: bolder !important;
}

.text-img-small{
    color: white;
    padding: 25% 0px 0px 10% !important;
    font-weight: 500 !important;
}

.text-img-small h2{
    font-weight: bolder;
}

.text-img-small button{
    text-decoration: none;
    background-color: #9bf00B;
    border: none;
    color: #054b16;
    font-weight: 700 !important;
}

/*horiozn pict*/
.horizon-pict-frame{
    padding: 0px 0px !important;
    border-color: white !important;
}

.horizon-img-txt{
    margin: 10% 5% 70% 65% !important;
}

.card strong{
    background-color: gold; 
    text-align: left;
    color: black;
}

.carousel-caption strong{
    background-color: gold; 
    text-align: left;
    color: black;
}

.carousel-caption button{
    background-color: #9bf00B;
    color: #054b16;
}

.horizon-img-txt button{
    text-decoration: none;
    background-color: #9bf00B;
    border: none;
    color: #054b16;
    font-weight: 700 !important;
}

.card{
    border-color: white;
    border-radius: 0px !important;
}

.zoomImg {
    overflow: hidden;
}

.zoomImg img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    height: inherit;
}

.zoomImg:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/*socmed*/


.svg-container1 p{
    text-align: center;
}

.svg-container1 img{
    width: 30px;
    padding-bottom:  10px;
}

.svg-container1{
    float: left;
    padding: 15px 0px 0px;
    margin-right: 0px !important;
}

.svg-position1{
    margin: 0px 300px 0px 300px;
}

.soc-container{
    padding-right: 65% !important;
}


/*footoer*/

.footer {
    margin-right: 400px !important;
    margin-left: -100px !important;
}

.footer a{
    text-decoration: none;
    color: #616161;
}

.footer ul{
    list-style: none;
}

.title1 {
    color: #616161;
     font-weight: bolder;
}

