<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabel Data Pasien</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    
</head>
<body>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <div class="container">    <!-- Brand -->
                <a class="navbar-brand" href="#">Tabel Data Pasien</a>
              
                <!-- Toggler/collapsibe Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="TabelKunjungan.html">Data Kunjungan Pasien</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="TabelPemeriksaanFisik.html">Data Pemeriksaan Fisik</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="TabelDataAnak.html">Data Anak</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/Index.html" style="float: right;">Back to Home</a>
                  </li>
                  </ul>
                </div>
            </div>
          </nav>

    <div id="app">

        <div class="container">
            <div class="py-5 text-center">
              <h2>Tabel Data pasien</h2>
              <p class="lead">Masukan data Pasien setelah memasukan data kujungan</p>
            </div>
      
              <div class="col-md-12">
                <h4 class="mb-3">Data Pasien <button class="btn btn-md btn-primary" v-on:click="resetForm()">Buat data Pasien baru</button>
                </h4>
                <table class="table table-striped">
                    <tr>
                      <th>ID pasien</th>
                      <th>Nama Pasien</th>
                      <th>Tgl Kunjungan</th>
                      <th>Umur Pasien</th>
                      <th>Jenis Kelamin</th>
                      <th>Nama Suami</th>
                      <th>Perkerjaan</th>
                      <th>Agama</th>
                      <th>No handphone</th>
                      <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                    <tr v-for="user in pasiens">
                        <td>{{ user.id_pasien }}</td>
                        <td>{{ user.nama_pasien }}</td>
                        <td>{{ user.tgl_kunjungan }}</td>
                        <td>{{ user.umurpasien }}</td>
                        <td>{{ user.jklamin }}</td>
                        <td>{{ user.namasuami }}</td>
                        <td>{{ user.perkerjaan }}</td>
                        <td>{{ user.agama }}</td>
                        <td>{{ user.nohandphone }}</td>
                        <td><button class="btn btn-md btn-warning" v-on:click="getEdit(user)">Edit</button></td>
                        <td><button class="btn btn-danger" v-on:click="getDelete(user)">Delete</button></td>
                    </li>
                </table>

              <!--form input-->

              <h4 class="mb-3">Informasi Data Pasien</h4>
                <form class="needs-validation" novalidate>
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="nama_pasien">Nama pasien</label>
                      <input  v-model="nama_pasien" type="text" class="form-control" id="nama_pasien" placeholder="masukan nama lengkap pasien" value="" required>
                      <div class="invalid-feedback">
                        Mohon isi nama pasien terlebih dahulu
                      </div>
                    </div>

                    <div class="col-md-6 mb-3">
                      <label for="lastName">Masukan tanggal kunjungan</label>
                      <input v-model="tgl_kunjungan" type="date" class="form-control" id="lastName" placeholder="" value="" required>
                      <div class="invalid-feedback">
                        masukan tanggal kunjungan pasien
                      </div>
                    </div>
                  </div>
      
                  <div class="mb-3">
                    <label for="umurpasien">Umur pasien</label>
                    <div class="input-group">
                      <input v-model="umurpasien" type="number" class="form-control" id="umurpasien" placeholder="umurpasien" required>
                      <div class="invalid-feedback" style="width: 10%;">
                        Masukan umur pasien
                      </div>
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="jklamin">Jenis kelamin</label>
                    <br>
                    <div class="input-group">
                      <input v-model="jklamin" type="radio" id="html" name="fav_language" value="wanita">
                      <label for="wanita">WANITA</label>
                      <input v-model="jklamin" type="radio" id="css" name="fav_language" value="pria">
                      <label for="pria">PRIA</label>
                      <div class="invalid-feedback" style="width: 100%;">
                        pilih gender
                      </div>
                    </div>
                  </div>
      
                  <div class="mb-3">
                    <label for="namasuami">Nama Suami</label>
                    <input v-model="namasuami" type="text" class="form-control" id="namasuami" placeholder="Masukan nama suami atau nama ayah">
                    <div class="invalid-feedback">
                      Masukan nama suami atau ayah
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="perkerjaan">Perkerjaan</label>
                    <input v-model="perkerjaan" type="text" class="form-control" id="perkerjaan" placeholder="Perkerjaan">
                    <div class="invalid-feedback">
                      Masukan Perkerjaan
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="agama">Agama</label>
                    <input v-model="agama" type="text" class="form-control" id="agama" placeholder="masukan Agama (Optional)">
                    <div class="invalid-feedback">
                      Masukan Agama (Optional)
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="nohandphone">No handphone</label>
                    <input v-model="nohandphone" type="number" class="form-control" id="" placeholder="Masukan nomor handphone pasien">
                    <div class="invalid-feedback">
                      Masukan no handphone pasien
                    </div>
                  </div>
      
                  </div>
                
                  <hr class="mb-4">
                  <button v-if="!editMode && !deleteMode" v-on:click="createUser" class="btn btn-primary btn-lg btn-block" type="submit">Masukan Data</button>
                  <button v-if="editMode" v-on:click="updateUser" class="btn btn-warning btn-lg btn-block" type="submit">Perbarui Data</button>
                  <button v-if="deleteMode" v-on:click="deleteUser" class="btn btn-danger btn-lg btn-block" type="submit">Hapus Data</button>
          

    </div>

    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        var app = new Vue ({
            el: '#app',
            data: {
                errors: [],
                message: null,
                pasiens:[],
                userIdEdit: null,
                userIdDelete: null,
                editMode: false,
                deleteMode: false,
                id_pasien:'',
                nama_pasien:'',
                tgl_kunjungan:'',
                umurpasien:'',
                jklamin:'',
                namasuami:'',
                perkerjaan:'',
                agama:'',
                nohandphone:'',
            },
            mounted: function() {
                this.getUser();
            },
            methods: {
                getUser() {
                    axios.get('https://621f200f311a705914012502.mockapi.io/Tabel_pasien')
                        .then(response => {
                            this.pasiens = response.data;
                            console.log(response);
                        })
                        .catch(error => {
                            console.log(error);
                        });
                },
                
                createUser: function(){
                    axios.post('https://621f200f311a705914012502.mockapi.io/Tabel_pasien', {
                      nama_pasien: this.nama_pasien,
                      tgl_kunjungan: this.tgl_kunjungan,
                      jklamin: this.jklamin,
                      umurpasien: this.umurpasien,
                      namasuami: this.namasuami,
                      perkerjaan: this.perkerjaan,
                      agama: this.agama,
                      nohandphone: this.nohandphone
                    })
                    .then(response => {
                            this.getUser();
                            this.message = "Your data has been submitted";
                            console.log(response);
                    })
                    .catch(error => {
                            console.log(error);
                    });
                },
                resetForm: function () {
                    this.message = null;
                    this.editMode = false;
                    this.deleteMode = false;
                    this.userIdEdit = null;
                    this.nama_pasien = null;
                    this.tgl_kunjungan = null;
                    this.jklamin = null;
                    this.umurpasien = null;
                    this.namasuami= null;
                    this.perkerjaan = null;
                    this.agama = null;
                    this.nohandphone = null;
                },
                getEdit: function (pasien) {
                    this.message = null;
                    this.editMode = true;
                    this.deleteMode = false;
                    this.userIdEdit = pasien.id_pasien;
                    this.nama_pasien = pasien.nama_pasien;
                    this.tgl_kunjungan = pasien.tgl_kunjungan;
                    this.jklamin = pasien.jklamin;
                    this.umurpasien = pasien.umurpasien;
                    this.namasuami= pasien.namasuami;
                    this.perkerjaan = pasien.perkerjaan;
                    this.agama = pasien.agama;
                    this.nohandphone = pasien.nohandphone;
                },
                getDelete: function (pasien) {
                    this.message = null;
                    this.deleteMode = true;
                    this.editMode = false;
                    this.userIdDelete = pasien.id_pasien;
                    this.nama_pasien = pasien.nama_pasien;
                    this.tgl_kunjungan = pasien.tgl_kunjungan;
                    this.jklamin = pasien.jklamin;
                    this.umurpasien = pasien.umurpasien;
                    this.namasuami= pasien.namasuami;
                    this.perkerjaan = pasien.perkerjaan;
                    this.agama = pasien.agama;
                    this.nohandphone = pasien.nohandphone;
                },
                updateUser: function () {
                    axios.put(`https://621f200f311a705914012502.mockapi.io/Tabel_pasien/${this.userIdEdit}`, {
                            nama_pasien : this.nama_pasien,
                            tgl_kunjungan : this.tgl_kunjungan,
                            jklamin : this.jklamin,
                            umurpasien : this.umurpasien,
                            namasuami: this.namasuami,
                            perkerjaan : this.perkerjaan,
                            agama : this.agama,
                            nohandphone : this.nohandphone
                        })
                        .then(res => {
                            // handle success
                            this.message = "Your data has been updated";
                            this.getUser();
                        })
                        .catch(err => {
                            // handle error
                            console.log(err);
                        })
                },
                // Delete User
                deleteUser: function () {
                    axios.delete(`https://621f200f311a705914012502.mockapi.io/Tabel_pasien/${this.userIdDelete}`)
                        .then(res => {
                            // handle success
                            this.message = "Your data has been deleted";
                            this.getUser();
                        })
                        .catch(err => {
                            // handle error
                            console.log(err);
                        })
                }
                

                
            }
        })
        
    </script>


</body>
</html>